<div class="logo hidden-sm hidden-xs">
<img src="{{@blog.logo}}"/>
</div>
<div id="name" class="hidden-sm hidden-xs">
    <h5 class="">Peixian Wang</h5>
    <hr>
</div>

<ul class="list-unstyled menu" id="navbar">
    <li class="">
        <a href="https://github.com/whorleater" target="_blank">
         <i class="el el-github"></i> <span>GitHub</span>
        </a>
    </li>
    <li class="">
        <a href="https://twitter.com/thopterfoundry" target="_blank">
            <i class="el el-twitter"></i> <span>@thopterfoundry</span>
        </a>
    </li>
        <li class="">
        <a href="mailto:peixian@plains.guru" target="_blank">

<i class="el el-el el-envelope-alt"></i>
            <span>peixian@plains.guru</span>
        </a>

    </li>
</ul>
