<div class="logo hidden-sm hidden-xs">
<img src="{{@blog.logo}}"/>
</div>
<!-- <div id="name" class="hidden-sm hidden-xs">
    <h5 class="">Peixian Wang</h5>
    <hr>
</div> -->

<ul class="list-unstyled menu" id="navbar">
    <li class="">
        <a href="https://github.com/peixian" target="_blank">
			<span>GitHub</span>
      		<i class="el el-github"></i> 				
        </a>
    </li>
    <li class="">
        <a href="https://twitter.com/peixianw" target="_blank">
			<span>@peixianw</span>
			<i class="el el-twitter"></i> 
        </a>
    </li>
        <li class="">
        <a href="mailto:peixian@driftingicebergs.com" target="_blank">
            <span>peixian@driftingicebergs.com</span>
			<i class="el el-el el-envelope-alt"></i>
        </a>

    </li>
</ul>
